<app-create-post (create)="createPost()"></app-create-post>

<mat-card>
    <button mat-mat-icon-button>
        <mat-icon color="warn">delete</mat-icon>
    </button>
    <div class="post-title">
        Post title
    </div>
    <div class="post-meta">
        Created at 28/02/2021
    </div>
    <div class="post-body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius autem exercitationem quasi repellendus, suscipit
        amet laborum nisi cupiditate error, corrupti perspiciatis sequi nesciunt ipsa tenetur molestias dolores minima!
        Non, aspernatur?
    </div>
</mat-card>